<!DOCTYPE html>
<html>
    <head>
        <title>What do you prefer? - Game</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game/game.css') }}">
    </head>
    <body>
        <nav>
            <div class="volume">
                <svg id="volume-icon" width="32" height="32">
                    <use href="#icon-volume-none"></use>
                </svg>
                <input type="range" id="volume-range" value="100">
            </div>
            <button onclick="exitButton()" id="exit">Exit and Save the Partiall list</button>
        </nav>
        <main>
            <div id="center-or">
                <span>OR</span>
            </div>

            <div class="side" id="side-A" data-side="A">
                <img alt="img not found lol" src="">
                <div class="song-data">
                    <span class="artist">ARTIST HERE</span>
                    <span class="song">SONG HERE</span>
                    <span class="album">ALBUM HERE</span>
                    <span class="info">INFO HERE</span>
                    <div class="audio-play">
                        <div class="rec rec1"></div>
                        <div class="rec rec2"></div>
                        <div class="rec rec3"></div>
                    </div>
                </div>
            </div>

            <div class="side" id="side-B" data-side="B">
                <img alt="img not found lol" src="">
                <div class="song-data">
                    <span class="artist"></span>
                    <span class="song"></span>
                    <span class="album"></span>
                    <span class="info"></span>
                    <div class="audio-play">
                        <div class="rec rec1"></div>
                        <div class="rec rec2"></div>
                        <div class="rec rec3"></div>
                    </div>
                </div>
                </div>
        </main>

        <svg style="display:none;">
            <symbol id="icon-volume-none" viewBox="0 0 24 24">
                <path d="M3 14V10C3 9.44772 3.44772 9 4 9H6.64922C6.87629 9 7.0966 8.92272 7.27391 8.78087L10.3753 6.29976C11.0301 5.77595 12 6.24212 12 7.08062V16.9194C12 17.7579 11.0301 18.2241 10.3753 17.7002L7.27391 15.2191C7.0966 15.0773 6.87629 15 6.64922 15H4C3.44772 15 3 14.5523 3 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M16 9.5L18.5 12M21 14.5L18.5 12M18.5 12L21 9.5M18.5 12L16 14.5" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </symbol>
            <symbol id="icon-volume-low" viewBox="0 0 24 24">
                <path d="M3 14V10C3 9.44772 3.44772 9 4 9H6.64922C6.87629 9 7.0966 8.92272 7.27391 8.78087L10.3753 6.29976C11.0301 5.77595 12 6.24212 12 7.08062V16.9194C12 17.7579 11.0301 18.2241 10.3753 17.7002L7.27391 15.2191C7.0966 15.0773 6.87629 15 6.64922 15H4C3.44772 15 3 14.5523 3 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M15.8302 15.2139C16.5435 14.3639 16.9537 13.3008 16.9963 12.1919C17.0389 11.0831 16.7114 9.99163 16.0655 9.08939" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </symbol>
            <symbol id="icon-volume-high" viewBox="0 0 24 24">
                <path d="M3 14V10C3 9.44772 3.44772 9 4 9H6.64922C6.87629 9 7.0966 8.92272 7.27391 8.78087L10.3753 6.29976C11.0301 5.77595 12 6.24212 12 7.08062V16.9194C12 17.7579 11.0301 18.2241 10.3753 17.7002L7.27391 15.2191C7.0966 15.0773 6.87629 15 6.64922 15H4C3.44772 15 3 14.5523 3 14Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M15.8302 15.2139C16.5435 14.3639 16.9537 13.3008 16.9963 12.1919C17.0389 11.0831 16.7114 9.99163 16.0655 9.08939" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M18.8944 17.7851C20.2406 16.1807 20.9852 14.1571 20.9998 12.0628C21.0144 9.96855 20.2982 7.93473 18.9745 6.31174" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </symbol>
        </svg>
        
        <script src="{{ url_for('static', filename='game/game.js') }}"></script>
    </body>
</html>